@model WebApplication1.Models.Film
@using WebApplication1.Helper

@{
    ViewBag.Title = "Добавлние фильма";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добавлние фильма</h2>

@using (Html.BeginForm("AddFilm", "Home", FormMethod.Post,
      new { enctype = "multipart/form-data" }))
{
    var sli = Help.AllGenres.Select(x => new SelectListItem
    {
        Value = x.ToString(),
        Text = x.ToString()
    }).ToList();
        <div class="form-group">
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Введите название фильма " })
       </div>

        <div class="form-group">
            @Html.DropDownListFor(x => x.genres, sli, new { @class = "form-control", @placeholder = "Выберите жанр" })
        </div>

        <div class="form-group">
            @Html.TextBoxFor(x => x.Opis, new { @class = "form-control", @placeholder = "Описание" })
        </div>

        <div class="form-group">
            @Html.TextBoxFor(x => x.Created, new { @class = "form-control", @placeholder = "Введите год" })
        </div>
        <input type="file" name="отправить"/>
        <button type="submit" class="btn btn-default">Сохранить</button>

}