@model WebApplication1.Models.Indexer
@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm("Comment"))
{ 
<div class="b">
    <p>
        Name
        @Html.TextBoxFor(x => x.Name)
    </p>
    <p>
        Age
       @Html.TextBoxFor(y => y.Age)
        <input type="submit" value="Отправить">
    </p>





</div>
}
<style>
  

    .b {
        float: left;
        text-align: center;
        width: 67%;
        padding: 30px;
        font-size: 23px;
    }

    
    }
</style>