@model WebApplication1.Models.Indexer
@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm("Comment"))
{ 
<div class="b">
    <p>
        <b><i>СОБАКА - </i></b> одомашненное млекопитающее семейства псовых, отряда хищных, одно из самых популярных домашних животных. Вероятно, человек приручил собаку не менее 14 000 лет назад. Именно такой возраст был определен для ископаемых зубов и челюсти домашней собаки, найденных в одной из пещер в Ираке. На ее стенах и в других местах обнаружены рисунки, запечатлевшие собак, напоминающих некоторые современные породы; кроме того, похожие изображения собак, обычно охотничьих, встречаются на примитивной глиняной посуде. Известно, что древние греки разводили несколько типов их пород, различавшихся главным образом по врожденному поведению (пастушьи, сторожевые и охотничьи). Египтяне 9000 лет назад тоже держали несколько их типов, а 4000 лет назад использовали огромных собак, напоминающих мастифов, в сражениях.
    </p>

    <p>
        Name
        @Html.TextBoxFor(x => x.Name)
    </p>


    <p>
        Age
       @Html.TextBoxFor(y => y.Age)
        <input type="submit" value="Отправить">
        
    </p>
</div>
}
<style>
  

    .b {
        float: left;
        text-align: center;
        width: 67%;
        padding: 30px;
        font-size: 23px;
    }

    
    }
</style>